.first-color { 
	background: #f7aa00; 
}
	
.second-color { 
	background: #235784; 
}

.third-color { 
	background: #40a8c4; 
}

.fourth-color { 
	background: #bcdbdf; 
}

@media screen and (max-width: 799px) {
    body {  
        display: flex; 
        flex-direction: column;
        padding: 1rem;
    }
    .main {
margin: auto;
    }
    .wrapper, .wrapper_inner, .wrapper_bottom {
        display: none;
        visibility: hidden;
        order: 2;
    }
    .header {

    }

    .mobile_nav>ul {
        border: 5px solid #f7b321ce;
        min-width: 200px;
        max-width: 200px;
        border-radius: 20px;
        background-color: #40a8c4;
        margin: auto;
        text-align: center;
        font-family: Chewy;
    }

    ul>li{
        font-size: 20px;
    }
    .content {
        width: 100%;
        flex-direction: column;
        
    }
  }

  @media screen and (max-width: 499px) {
    .header_title {
        display: none;
    }
  }

  @font-face {
    font-family: "Chewy";
    src: url("/Chewy-Regular.ttf") format("truetype");
  }

  /* @media (max-width: 500px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
} */
@media screen and (min-width: 800px){
.mobile_nav {
    display: none;
}    
}



  html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  body {
    background-color: #bcdbdf;
    color: #235784;
    /* overflow: hidden; */
    /* height: 100vh; */
    /* padding: 2rem; */
    margin: 0;
    display: flex;
    /* justify-content: flex-start; */
    /* flex-flow: row wrap; */
  }

.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* min-width: 800px; */
    /* align-content: center; */
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    /* width: auto;
    height: 120px; */
    /* align-items: center; */
    padding: 12px;
    letter-spacing: 2px;
    color: #da9d1c;
  }

.header_logo {
    vertical-align: middle;
  }

  .header_title {
    font-size: 68px;
    font-family: Chewy;
    margin-left: 20px;
    text-shadow: 3px 1px 15px white;
  }

  #cheddar-logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid rgba(226, 226, 102, 0.952);
    /* padding: 5px; */
    /* vertical-align: middle; */
  }

  /* .wrapper_inner {
    overflow-y: auto;
  } */

ul {
    padding-left: 0;
    margin-top: 3rem;
}

  li {
    list-style: none;
    padding-bottom: 1rem;
    font-size: 30px;
    text-shadow: 0px 0px 8px white;
  }

.content{
    display: flex;
}

.content_whatis {
    
  }


  .wrapper {
    display: flex;
    flex-direction: column;
    float: left;
    height: 100%;
    border: 5px solid #f7b321ce;
    min-width: 200px;
    /* height: 700px; */
    border-radius: 20px;
    background-color: #40a8c4;
    /* flex: 1 0 10%; */
    margin: 3rem 4rem 2rem 4rem;
    text-align: center;
    font-family: Chewy;
  }

  .wrapper_bottom {
    bottom: 0;
    padding-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: #f7aa00;
  }